# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
hold
junk

firebase_options.dart

# TODO: need to remove the APIs from this repo. and look into changing the API KEY.
#lib/firebase_options.dart
#packages/firebase/lib/firebase_options.dart
#android/app/google-services.json
#ios/Runner/GoogleService-Info.plist
#ios/firebase_app_id_file.json
#macos/Runner/GoogleService-Info.plist
#macos/firebase_app_id_file.json

examples/lib/login/app_secrets.dart